<a href="https://colab.research.google.com/github/mahesh-ml/MLBasics/blob/main/Logistic_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
loanData = pd.read_csv("/content/01Exercise1.csv")
loanPrep = loanData.copy()

In [3]:
loanPrep.head()

  gender married   ch  income  loanamt status
0   Male      No  1.0    5849      NaN      Y
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y

In [4]:
#missing values
loanPrep.isnull().sum(axis=1)

0      1
1      0
2      0
3      0
4      0
      ..
609    0
610    0
611    0
612    0
613    0
Length: 614, dtype: int64

In [5]:
loanPrep = loanPrep.dropna()

In [6]:
loanPrep.head()

  gender married   ch  income  loanamt status
1   Male     Yes  1.0    4583    128.0      N
2   Male     Yes  1.0    3000     66.0      Y
3   Male     Yes  1.0    2583    120.0      Y
4   Male      No  1.0    6000    141.0      Y
5   Male     Yes  1.0    5417    267.0      Y

In [7]:
#drop gender
loanPrep = loanPrep.drop(['gender'],axis=1)

In [8]:
#dummy and normalize
loanPrep = pd.get_dummies(loanPrep, drop_first=True)

In [9]:
loanPrep.head()

    ch  income  loanamt  married_Yes  status_Y
1  1.0    4583    128.0            1         0
2  1.0    3000     66.0            1         1
3  1.0    2583    120.0            1         1
4  1.0    6000    141.0            0         1
5  1.0    5417    267.0            1         1

In [11]:
from sklearn.preprocessing import StandardScaler
scalar_ = StandardScaler()

loanPrep['income']= scalar_.fit_transform(loanPrep[['income']])
loanPrep['loanamt']= scalar_.fit_transform(loanPrep[['loanamt']])

In [12]:
loanPrep.head()

    ch    income   loanamt  married_Yes  status_Y
1  1.0 -0.128073 -0.194250            1         0
2  1.0 -0.392077 -0.971015            1         1
3  1.0 -0.461621 -0.294478            1         1
4  1.0  0.108246 -0.031380            0         1
5  1.0  0.011017  1.547205            1         1

In [13]:
#Build logistic regression
Y = loanPrep[['status_Y']]
X = loanPrep.drop(['status_Y'], axis=1)

In [16]:
#split into train test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.3,random_state=1234, stratify=Y)

In [17]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
Y_predict = lr.predict(X_test)

In [20]:
#confusion matrix
from sklearn.metrics import confusion_matrix

In [21]:
cm = confusion_matrix(Y_test,Y_predict)

In [22]:
print(cm)

[[ 29  20]
 [  2 108]]

In [23]:
lr.score(X_test,Y_test)

0.8616352201257862